
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #e57373;  */
}


body {
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}
header {
  position: sticky;
  top: 0;
  z-index: 999;
}




    h2 {
      text-shadow: 2px 2px grey;
      /* padding: 1rem; */
      /* border-style: double; */
       border-bottom: 1px solid black; 
      /* margin-bottom: 15px; */
      
    }
  
h2:hover {
  text-decoration: none;
  /* text-shadow: yellow 2px 2px 4px; */
  /* text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
  0.025em 0.05em 0 #50c878;
  color: rgba(0, 194, 203, 0.2);
  font-weight: 500; */
}



.logo {
  font-family: "Times New Roman", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  left: 0;
  top:auto;
  /* border: 2px solid grey; */
  font-variation-settings:
    "width" 100;

}
.refrences {
  font-size: 1.5rem;
}

.email {
  text-decoration: none;
  color: black;
}

.email:hover {
  /* color: #e57373;
  border-bottom: 1px solid #e57373; */
  color: #64b5f6;
  border-bottom: 1px solid #64b5f6;
}


/* 
.noto-sans-company {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #f8f9fa; */
  background-color: #e57373; 
}



  #navlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
    width: 120px;
    height: auto;
    text-shadow: #f8f9fa 2px 2px 4px;
    
    
  }
/* #navlogo:hover {
  
    transform: rotate(45deg);
  
} */
#mobile {
  display: none;
}
   #homepage {
    width: 100%;
    height: 85vh;
    object-fit: auto;
    object-position: center bottom;
    max-width: 100%;
     
    
  }
  .image-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    text-shadow: 2px 2px grey;
    font-size: 40px;
    font-weight: 600;
    /* background-color: rgba(0, 0, 0, 0.5);  */
  }

  .image-text p {
    margin: 0.5rem 0;
  }

  

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    padding: 1rem;
    
  }
  
    h5 {
      font-size: 1.5rem;
      text-align: center;
    }
    * {
      margin: 0;
      padding: 0;
      background-color: #e57373;;
    }

  
    .image-text {
      font-size: 30px;
      object-position: center bottom;
      display: none;

    }
    #homepage {
      display: none;
      
    }
    #mobile {
    /* display: block; */
    height: 60%;
    object-fit: cover;
    overflow: hidden;
    object-position: center bottom;
    max-width: 100%;
    width: 100%;
    border: 2px solid transparent;
    
    /* margin: 0;
    padding: 0; */
    display: flex;
    

    }
  

#group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* padding: 1rem; */
}

    #navlogo {
      order: -1;
      margin-right: 0;
      
    }

    

  
}